html,body,#root {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'yofont';
  src: url('../assets/fonts/iconfont.woff') format('woff'),
  url('../assets/fonts/iconfont.ttf') format('truetype');
}

@font-face {
  font-family: 'yofont';
  src: url('../assets/fonts/detail/iconfont.woff') format('woff'),
  url('../assets/fonts/detail/iconfont.ttf') format('truetype');
}
