#root {
  height: 100%;
  width: 100%;
}

$base-color: #00b38a;

@font-face {
  font-family: 'yofont';
  src: url('../assets/fonts/iconfont.woff') format('woff'),
  url('../assets/fonts/iconfont.ttf') format('truetype');
}

.swiper-container {
  display: block;
  width: 100%;
}

header{
	height: 95px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    z-index: 2000; 
}

